@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');

.thirdPageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: #1E2224;
    color: white;
    font-size: 2vw;
    font-family: 'Girassol';
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cardContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2vw;
}
.card {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 25vw;
    background-color: #2F393E;
    color: white;
    border-radius: 20px;
    position: relative;
    text-align: center;
}
.card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 16px 0px white;
    transition: .3s linear;
}
.essa {
    position: absolute;
    top: 1vw;
    width: 5.5vw;
    height: 5.5vw;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ess {
    width: 3.5vw;
    height: 3.5vw;
}
.cardText {
    font-size: 1vw;
    padding: 0 1vw;
}
.space {
    margin-top: 3vw;
    margin-bottom: 1.5vw;
}
.thirdPageTittle {
    margin-bottom: 2vw;
}