@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');

.secondPageContainer {
    width: 100%;
    background-color: #1E2224;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.boxGrid {
    display: flex;
}
.box {
    display: flex;
    flex-wrap: wrap;
    padding: 10vw 2vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 2vw;
    font-family: 'Girassol';
}
.essa {
    width: 70px;
    height: 70px;
}

@media only screen and (max-width: 1024px) {
    .boxTitle {
        font-size: 2.2vw;
    }
    .boxName {
        font-size: 7vw;
    }
}

@media only screen and (max-width: 768px) {
    .boxGrid {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }
    .boxTitle {
        font-size: 4vw;
    }
    .boxName {
        font-size: 9vw;
    }
}
