.fifthPageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1E2224;
}

.fifthPageTitle {
    color: white;
    font-size: 3vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

input,textarea {
    width: 100%;
    margin-bottom: 20px;
    height: 10vh;
    font-size: 2rem;
    padding: 4px;
    color: white;
    border-radius: 15px;
    background-color: #1E2224;
    border: none;
    box-shadow:
    15px 15px 10px rgba(0,0,0,0.1),
    inset -5px -5px 10px rgba(255,255,255,0.1),
    inset 10px 10px 10px rgba(0,0,0,0.2);
    text-indent: 30px;
}
input:focus, textarea:focus {
    outline: none !important;
}
::placeholder {
    color: white;
}

label {
    color: white;
    font-size: 2rem;
}

textarea {
    resize: none;
    height: 20vh;
}

.itemBox {
    display: flex;
    flex-direction: column;
    width: 50vw;
}
button {
    width: 50%;
    background-color: #1E2224;
    border: none;
    border-radius: 15px;
    color: white;
    box-shadow:
    15px 15px 15px rgba(0,0,0,0.1),
    inset -5px -5px 10px rgba(255,255,255,0.1),
    inset 10px 10px 10px rgba(0,0,0,0.2);
    padding: 1rem;
    font-size: 2rem;
    margin-bottom: 2rem;
    cursor: pointer;
}
button:hover {
    box-shadow:
    inset 15px 15px 15px rgba(0,0,0,0.1),
    inset -15px -15px -15px rgba(255,255,255,0.1),
    inset 5px 5px 5px rgba(0,0,0,1);
}
@media only screen and (max-width: 1024px) {
    .fifthPageTitle {
        font-size: 6vw;
    }
    .itemBox {
        width: 65vw;
    }
    input,textarea {
        font-size: 1.4rem;
    }
    button {
        padding: 0.5rem;
    }
}

@media only screen and (max-width: 768px) {
    .fifthPageTitle {
        font-size: 8vw;
    }
    .itemBox {
        width: 65vw;
    }
    input,textarea {
        font-size: 1.4rem;
    }
}