* {
    font-family: Arial, Helvetica, sans-serif;
}

.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
}
ul {
    display: flex;
    list-style: none;

    li {
        padding-right: 1em;
        color: white;
    }
}

.logo_text {
    font-weight: 700;
    color: white;
    span {
        color: #EB680D;
    }
}
.logo {
    width: 40px;
    height: 40px;
}