.fifthPageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1E2224;
}
.fifthPageTitle {
    color: white;
    font-size: 2vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
}
.fifthPageContact {
    width: 65%;
}
.wrapper {
    display: grid;
    width: 100%;
    height: 15vw;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    justify-content: space-around;
    padding-bottom: 5rem;
}
textarea {
    resize: none;
  }
.item5 {
    grid-column: 1 / 3;
}
